:root {
  --h-header: 60px;
  --h-main: 230px;
  --h-list: calc(100vh - var(--h-header) - var(--h-main) - 30px);
  
  --primary-color: #fff;
  --second-color: #6a1b9a;
  --third-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg-primary-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2%;
}

/*============================================================================*/
/*=============================== FLASH MESSAGE ==============================*/
.flash-alert {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
}

.alert-danger {
  color: #d50000;
  background-color: #ff5252;
}

.alert-warning {
  color: #ffa000;
  background-color: #ffe082;
}

.alert-success {
  color: #00c853;
  background-color: #69f0ae;
}